* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }

  .center {
    padding: 0 calc(50% - 1140px / 2);
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
  } 

.btn-end {
    display: flex;
    justify-content: flex-end;
    background-color: #d3d3d3;
}

.btn-cart {
    margin: 20px 0 20px 0;
    padding: 6px 14px 6px 14px;
    background-color: white;
    border-radius: 10px ;
    border: 1px solid grey;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.product-item {
    width: 150px;
    border: 1px solid #a9a9a9;
    margin: 0px 0 10px 10px;
    position: relative;
}

.img-item {
    width: 139px;
    margin: 2px;
}

.name-item {
    font-size: 18px;
    margin: 15px 0 25px 0;
    text-align: center;
}

.cost-item {
    font-size: 15px;
    color: red;
    margin: 0 5px 0 10px;
}

.item-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.buy-btn {
    padding: 3px 5px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.mark-item {
    color: red;
    position: absolute;
    top: 6px;
    left: 41px;
    background-color: #d1cdcd;
}
